# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean build


  after-task:
    runs-on: ubuntu-latest
    steps:
      - name: JaCoCo Report
        # You may pin to the exact commit or the version.
        # uses: Madrapps/jacoco-report@67036d804c34935864dfef774aa6c6d3924c021d
        uses: Madrapps/jacoco-report@v1.1
        with:
          # Path of the generated xml file
          path: ${{ github.workspace }}/build/reports/jacoco/test/jacocoTestReport.xml
          # Github personal token to add commits to Pull Request
          token: ${{ secrets.GITHUB_TOKEN }}
          # The minimum code coverage that is required to pass for overall project
          debug-mode: true